.bgTitle {
	background-image: radial-gradient(
			63.01% 102.55% at 71.7% 50%,
			#28293e00 0%,
			#28293e 100%
		),
		url('/home-bg-1.webp');
	background-size: cover;
	background-position-x: left;
	background-position-y: top;
	z-index: 50;
	position: relative;
}

.bgLokapala {
	background-image: radial-gradient(
			100% 100% at 71.7% 50%,
			#28293e00 0%,
			#28293e 100%
		),
		url('/lokapala-bg-2.webp');
	background-size: cover;
	background-position: center;
	margin-top: 120px;
}

.bgPortfolio {
	background: #29293f;
}

.bg4 {
	background: linear-gradient(
		to bottom,
		#29293f 0%,
		#29293f 80%,
		#ffffff 80%,
		#ffffff 100%
	);
}

.bg5 {
	background: #ffffff;
}

.bg6 {
	background: #29293f;
}
