@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-text,
.nav-menu__text {
	@apply text-lg font-medium;
}

.nav-text {
	@apply tracking-wide text-gray-50 hover:text-gray-300;
}

.nav-menu__text {
	@apply py-2 text-center text-primary hover:rounded hover:bg-gray-100;
}

@layer components {
	.btn-sosial-media {
		@apply h-16 w-16 rounded-full bg-[#D71985] p-4 hover:text-blue-200;
	}
	.card-portfolio {
		@apply cursor-pointer text-sm text-gray-300 hover:text-gray-500 sm:text-xs md:text-sm lg:text-lg;
	}
	.input-contact {
		@apply w-full rounded-lg border-2 border-gray-400 px-6 py-3 focus:shadow-md focus:shadow-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-200;
	}
}
